@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
    font-family: Inter;
    background-color: lightslategray;
}

* {
    box-sizing: border-box;
}

.header{
    padding: 0.5px;
    background-color: powderblue;
    background-size: auto;
    display: flex;
    height: 112px;
    word-wrap: break-word;
    position: relative;
} 

ul.head{
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: lightpink;
}


li.head {
    display:inline-block;
}

li.head a {
    color: black;
    padding: 15px 20px;
    display: block;
    background-color: lightpink;
    text-decoration: none;
}

li.head a:hover {
    background-color: skyblue;
    color: black;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 25%;
    background-color: lightgray;
    padding: 20px;
}

.main{
    flex: 70%;
    background-color: wheat;
    padding: 20px;
}

.footer{
    padding: 5px;
    background: lightpink;
}

.footertext {
    margin-left: 40%;
    font-size: 12px;
}

.footertext a:hover, .footerlinks a:hover, .footerlinksbot a:hover, .reviewDescription:hover, 
.animeLinks a:hover {
    text-decoration: underline;
}

.footer a, .noLinkUnderline, .animeLinks a {
    text-decoration: none;
}

.footerlinks a {
    color: darkblue;
}

.footerLinkList li, .footerLinkList a {
    font-size: 14px;
    color: darkblue;
    display: inline-block;
    text-align: center;
    list-style-type: none;
    padding-right: 20px;
    padding-bottom: 10px;
}

.nepimg{
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

.titleheader{
    font-family: Arial, Helvetica, sans-serif;
}

.nepneps{
    color: orangered;
    left: 48%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    margin-top: 1%;
    font-size: 30px;
}

.nepheader{
    position: absolute;
    bottom: 0;
    left: 35%;
}

#toc {
    background: lightskyblue none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 15px;
    width: auto;
}

.toc_title {
    font-weight: 650;
    text-align: center; 
}

#toc li, #toc ul, #toc ul li{
    list-style: outside none none !important;
}

.content {
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 10px; 
}

.tsundere-sakura {
    height: auto;
    width: auto;
}

ul.tc{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: center;
    display: inline-block;
}


li.tc {
    display: flex;
}

li.tc a {
    color: black;
    padding: 15px 20px;
    display: block;
    background-color: lightpink;
    text-decoration: none;
    text-align: center;
    align-content: center;
    width: 100%;
}

li.tc a:hover {
    background-color: pink;
    color: black;
}

.animeStats{
    display: inline;
    overflow: hidden;
}

.animePhoto{
    float: left;
    padding-right: 15px;
    max-height: 250px;
    width: 200px;
}

.collapsible {
    background-color: lightpink;
    color: black;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
}

.active, .collapsible:hover {
    background-color: skyblue;
}

.reviewWords, .reviewList {
    display: none;
}

.reviewDescription {
    cursor: pointer;
    text-align: center;
}

.worldTemps {
    list-style: none;
    padding-left: 0;
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: portrait) {
    .nepneps {
        font-size: 20px;
        padding-top: 5%;
    }
    .nepheader {
        left: 5%;
    }

    .animeStats{
        display: inline-block;
        overflow: hidden;
    }

    .tsundere-sakura {
        height: auto;
        width: 95%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
    .nepheader {
        left: 25%;
    }
    .nepneps{
        font-size: 25px;
        padding-top: 2%;
    }

    .animeStats{
        display: inline-block;
        overflow: hidden;
    }

    .tsundere-sakura {
        height: auto;
        width: 95%;
    }
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {
    .nepneps {
        font-size: 22px;
    }
    .nepheader {
        left: 11%;
    }

    .animeStats{
        display: inline-block;
        overflow: hidden;
    }
    .tsundere-sakura {
        height: auto;
        width: 95%;
    }
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
    .nepheader {
        left: 25%;
    }

    .animeStats{
        display: inline-block;
        overflow: hidden;
    }

    .tsundere-sakura {
        height: auto;
        width: 95%;
    }
}    

@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: portrait) {
    .nepneps {
        font-size: 25px;
        padding-top: 5%;    
    }

    .animeStats{
        display: inline-block;
        overflow: hidden;
    }
    .tsundere-sakura {
        height: auto;
        width: 95%;
    }
}

@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: landscape) {
    .nepheader {
        left: 25%;
    }

    .animeStats{
        display: inline-block;
        overflow: hidden;
    }
    .tsundere-sakura {
        height: auto;
        width: 95%;
    }
}  

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .nepheader {
        left: 30%;
    }

}

@media only screen and (max-width: 3840) {
    .flex-container, ul, li{
        flex-direction: column;
    }

    .header{
        background-image: none;
        background-color: skyblue;
    
    }

    .container{
        display: flex;
    }

    .animePhoto{
        float: none;
        max-height: 250px;
        width: 200px;
    }

    .animeStats{
        display: inline-block;
        overflow: hidden;
    }

}
